extends layout



extends super_page_sidebarheader



block PAGECONTENT

  // BEGIN PAGE CONTENT
  .row-fluid
    .span12
      // BEGIN SAMPLE FORM PORTLET
      .portlet.box.blue.tabbable
        
        .portlet-title
          .caption
            i.icon-reorder
            span.hidden-480 修改项目信息

        .portlet-body.form
          .tabbable.portlet-tabs
            ul.nav.nav-tabs
              li
              li
              li
                a(href='#portlet_tab1', data-toggle='tab') 请正确填写项目信息

            .tab-content
              #portlet_tab1.tab-pane.active
                // BEGIN FORM
                form#mySysInfoform.form-horizontal(action='/super_domodifyprj', method='post', novalidate="validated")
                  
                  .control-group
                    label.control-label 项目原名称
                    .controls
                      input.span6.m-wrap(type='text', disabled='disabled', name='prjoldname', value='#{prj.prjName}')
                      //span.help-inline Some hint here
                  .control-group
                    label.control-label 项目新名称
                    .controls
                      input.span6.m-wrap(type='text', placeholder='项目名称', name='prjnewname', value='#{prj.prjName}')
                  .control-group
                    label.control-label 项目开始时间
                    .controls
                      input#mask_date_start.span6.m-wrap(type='text', name='prjstartdate', value='#{prj.prjStartDate}')
                      span.help-inline 格式为：年/月/日
                  .control-group
                    label.control-label 项目结束时间
                    .controls
                      input#mask_date_stop.span6.m-wrap(type='text', name='prjstopdate', value='#{prj.prjStopDate}')
                      span.help-inline 格式为：年/月/日

                  .form-actions.clearfix
                    input(type='hidden', name='modifyid', value='#{id}')
                    button.btn.green.button-submit(type='submit', style="display: inline-block;")
                      i.icon-ok
                      |  修改

                    //button.btn(type='button') Cancel
      